@font-face {
    font-family: 'Sofia Sans Semi Condensed';
    src: url('/fonts/SofiaSansSemiCondensed/SofiaSansSemiCondensed-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Jost';
//     src: url('/fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
//     font-weight: 100 900;
//     font-style: normal;
//     font-display: swap;
// }